.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.player,
.computer{
    border: 1px solid black;
}